<!-- Navigation -->
  <!-- Structure goes here -->
  <header>
    <nav>
      <div class="navedit">
      <ul class="nav-menu" id="text-align">
        <li class="nav-item">
                        <%= link_to "Catalogue", root_path %>
        </li>
         <li class="nav-item">
                        <%= link_to "Canvas", draw_path %>

        </li>
        <li class="nav-item">
                        <%= link_to "Your Paintings", your_paintings_path %>
        </li>
      </ul>
       </div>
    </nav>
  </header>
 
</div>