<div class="WelcomeSite">
<h1>Welcome to the World of Bob Ross</h1>
</div>


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

  
    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading -->
     <h1 class="my-4" id="WelcomeBob">Catalogue</h1>
      
      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://arthive.com/res/media/img/oy800/work/db2/105522.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Hunter's Haven</a>
              </h4>
              <p class="card-text">Colors Used: AAlizarin Crimson, Bright Red, Cadmium Yellow, Dark Sienna, Indian Yellow, Midnight Black, Prussian Blue, Sap Green, Titanium White, Van Dyke Brown, Yellow Ochre</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/81%2BJLeh8Y9L._SX355_.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Nothern Lights</a>
              </h4>
              <p class="card-text">Colors Used: Alizarin Crimson, Black Gesso, Bright Red, Dark Sienna, Midnight Black, Phthalo Blue, Phthalo, Green, Titanium White, Van Dyke Brown</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.pinimg.com/736x/a5/7b/a8/a57ba8a2a65c6b242b9e3142c183fa49--waterfall-paintings-scenery-paintings.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Bubbling Mountain</a>
              </h4>
              <p class="card-text">Colors Used: Alizarin Crimson, Bright Red, Cadmium Yellow, Dark Sienna, Indian Yellow, Midnight Black, Phthalo Blue, Sap Green, Titanium White, Van Dyke Brown, Yellow Ochre</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.pinimg.com/originals/a9/c3/ba/a9c3ba64087a10f97c139cf5f7b34399.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Winter Cabin</a>
              </h4>
              <p class="card-text">Colors Used: Bright Red, Dark Sienna, Prussian Blue, Titanium White, Van Dyke Brown, Yellow Ochre</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.pinimg.com/originals/24/08/25/240825066087af59e471f8fbd54e6f17.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Barn at Sunset</a>
              </h4>
              <p class="card-text">Colors Used: Alizarin Crimson, Bright Red, Cadmium Yellow, Dark Sienna, Indian Yellow, Midnight Black, Phthalo Blue, Titanium White, Van Dyke Brown, Yellow Ochre</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.pinimg.com/originals/f3/76/82/f376826ce444e632a7297b238f9a838b.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Dark Waterfall</a>
              </h4>
              <p class="card-text">Colors Used: Alizarin Crimson, Bright Red, Cadmium Yellow, Dark Sienna, Indian Yellow, Liquid Black, Phthalo Blue, Sap Green, Titanium White, Van Dyke Brown, Yellow Ochre</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul> -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Drew, Andrew, Keshav, Rishab Production</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>